<div class="card mt-5">
  <div class="card-header" style="background-color: darkblue;"><h4><span class="badge badge-default specialfont">The benefits of the premium service vs. the free service</span></h4></div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div>
              <h6><span class="badge badge-default">The free service</span></h6>
            </div>
            <div>
              <h6><span class="badge badge-default"></span></h6>
            </div>
            <div>
              <h6><span class="badge badge-default"></span></h6>
            </div>
            <div>
              <h6><span class="badge badge-default"></span></h6>
            </div>
            <div>
              <h6><span class="badge badge-default"></span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div >
        <h5><span class="badge badge-default mt-5 mb-2">Additional features with the premium service</span></h5>
      </div>
      <div class="col-sm-12">
        <accordion>
          <accordion-group heading="Reporting">
            This content is straight in the template.
          </accordion-group>
          <accordion-group heading="Send operative report to ref physician">
            <p>Some content</p>
          </accordion-group>
          <accordion-group heading="Statistics">
            <p>Some content</p>
          </accordion-group>
          <accordion-group heading="Configuration">
            <p>Some content</p>
          </accordion-group>
        </accordion>
      </div>
    </div>
   
  </div>
</div>
