<div class="card mt-5">
  <div class="card-body" *ngIf="!showPRequest()">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header" style="background-color: darkblue;">
            <h4><span class="badge badge-default specialfont">The benefits of the premium service vs. the free
                service</span></h4>
          </div>
          <div class="card-body">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header">Free service</div>
                      <div class="card-body">
                        <div class="row mb-1">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_free_1"
                              name="check-1" disabled>  Procedure data entry</div>
                          <div class="col-sm-2"></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(1)">?</button></div>
                        </div>
                        <div class="row mb-1">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_free_2"
                              name="check-2" disabled>  Reporting</div>
                          <div class="col-sm-2"></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(2)">?</button></div>
                        </div>
                        <div class="row mb-1">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_free_3"
                              name="check-3" disabled>  Configuration</div>
                          <div class="col-sm-2"></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(3)">?</button></div>
                        </div>
                        <div class="row mb-1">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_free_4"
                              name="check-4" disabled>  Statistics</div>
                          <div class="col-sm-2"></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(4)">?</button></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_free_5"
                              name="check-5" disabled>  Automated backups</div>
                          <div class="col-sm-2" ></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(5)">?</button></div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header">Premium service</div>
                      <div class="card-body">
                        <div class="row mb-1">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_premium_1"
                              name="check-10" disabled>  Procedure data entry</div>
                          <div class="col-sm-2" ></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(6)">?</button></div>
                        </div>
                        <div class="row mb-1">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_premium_2"
                              name="check-11" disabled>  Reporting</div>
                          <div class="col-sm-2" ></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(7)">?</button></div>
                        </div>
                        <div class="row mb-1">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_premium_3"
                              name="check-12" disabled>  Configuration</div>
                          <div class="col-sm-2" ></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(8)">?</button></div>
                        </div>
                        <div class="row mb-1">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_premium_4"
                              name="check-13" disabled>  Statistics</div>
                          <div class="col-sm-2" ></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(9)">?</button></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-8"><input type="checkbox" [(ngModel)]="check_premium_5"
                              name="check-14" disabled>  Automated backups</div>
                          <div class="col-sm-2" ></div>
                          <div class="col-sm-2"><button type="button" class="btn btn-warning btn-sm" (click)="btnClick(10)">?</button></div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-6">
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                          <button type="button" class="btn btn-danger" (click)='Cancel()'>Cancel</button>
                          <button type="button" class="btn btn-success"  (click)='RequestPremium()'>Request premium service</button>
                      </div>
                  </div>
                  <div class="col-sm-6"></div>
              </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="../../assets/else-03.jpg" alt="test" width="375" height="500" />

      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="showPRequest()">
    
  </div>
</div>