
<div class="card m-5">
  <div class="card-header"><h5><span class="badge badge-info">Configuration</span></h5></div>
  <div class="card-body">

    <div class="row mt-5">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3">
            <div class="card mb-4">
              <div class="card-img-wrapper">
                <img src="{{hospitalPhoto}}" alt="hospital photo" class="card-img-top" height="200" width="200">
                <ul class="list-inline member-icons animate text-center mt-1">
                  <li class="list-inline-item">
                    <button class="btn btn-primary btn-sm" (click)="editHospital()">
                      <i class="fa fa-hospital-o"></i>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="card-body p-1">
                <h6 class="card-title text-center mb-1">Change hospital details</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card mb-4">
              <div class="card-img-wrapper">
                <img src="{{employeePhoto}}" alt="employee photo" class="card-img-top"  height="200" width="200">
                <ul class="list-inline member-icons animate text-center mt-1">
                  <li class="list-inline-item">
                    <button class="btn btn-primary btn-sm" [routerLink]="['/editEmployee']">
                      <i class="fa fa-hospital-o"></i>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="card-body p-1">
                <h6 class="card-title text-center mb-1">Manage employees</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card mb-4">
              <div class="card-img-wrapper">
                <img src="{{refOperativeReport}}" alt="report photo" class="card-img-top"  height="200" width="200">
                <ul class="list-inline member-icons animate text-center mt-1">
                  <li class="list-inline-item">
                    <button class="btn btn-primary btn-sm" [routerLink]="['/editReport']">
                      <i class="fa fa-hospital-o"></i>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="card-body p-1">
                <h6 class="card-title text-center mb-1">Suggestions & reports</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card mb-4">
              <div class="card-img-wrapper">
                <img src="{{refPhysPhoto}}" alt="refPhys photo" class="card-img-top"  height="200" width="200">
                <ul class="list-inline member-icons animate text-center mt-1">
                  <li class="list-inline-item">
                    <button class="btn btn-primary btn-sm" [routerLink]="['/editRefPhys']">
                      <i class="fa fa-hospital-o"></i>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="card-body p-1">
                <h6 class="card-title text-center mb-1">Refering physicians</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>

  </div>
  <div class="card-footer"></div>
</div>
  
  
