<div class="card m-5">
  <div class="card-header">
      <h5><span class="badge badge-info">Tutorials</span></h5>
  </div>
  <div class="class-body">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <accordion>
              <accordion-group heading="Getting started">
                This content is straight in the template.
              </accordion-group>
              <accordion-group heading="Configuration">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="Adding procedures">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="Reporting">
                <p>Some content</p>
              </accordion-group>
              <accordion-group heading="Statistics">
                <p>Some content</p>
              </accordion-group>
            </accordion>
          </div>
          <div class="card-footer">
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="../../assets/helios_450.jpg" alt="test" width="375" height="500" />
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p>&copy; 2022 - CardiacSoftwareDevelopers(<a (click)="linkToCSD()" style="color:blue">CSD</a>)</p>
</div>
</div>

