<div class="card m-5">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6"> <h5><span class="badge badge-info">List of hospitals</span></h5></div>
            <div class="col-sm-6">
                <div>
                    <div class="row">
                        <div class="col-sm-4"><h5><span class="badge badge-secondary">Select by country</span></h5></div>
                        <div class="col-sm-4"><select [(ngModel)]="selectedCountry" name="test1" class="form-control">
                            <option *ngFor="let an of listOfCountries" [value]=an.value>{{ an.description }}</option>
                          </select>
                        </div>
                        <div class="col-sm-4"><button class="btn bth-primary btn-xs" (click)="filterCountry()">Go</button></div>
                    </div>
                </div>
                
                </div>
        </div>
       
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <table class="table">
                    <tr>
                        <th style="width: 30%;">Id</th>
                        <th style="width: 40%;">Name</th>
                        <th style="width: 15%;"></th>
                        <th style="width: 15%;"></th>
                    </tr>
                    <tr *ngFor="let hos of hospitals">
                      <td class="fa-fa-person">
                          {{hos.hospitalNo}}
                      </td>
                      <td>
                        {{hos.hospitalName}}
                    </td>
                    <td>
                        <button class="btn btn-info" (click)="editHospital(hos.hospitalname)">Edit Hospital</button>
                    </td>
                    <td>
                        <button class="btn btn-info" (click)="deleteHospital(hos.Id)">Delete Hospital</button>
                    </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger" (click)="Cancel()">Cancel</button>
                        <button type="button" class="btn btn-success"  (click)="addHospital()">Add</button>
                      </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
        <div *ngIf="showAdd()" ><app-addhospital (pushResult)="backFromAdd($event)" ></app-addhospital></div>
        <div *ngIf="showEdit()"><app-edithospital [hospital]="selectedHospital" (pushHospital)="backFromEdit($event)"></app-edithospital></div>
    </div>
    <div class="card-footer"></div>
</div>

