<div class="row">
    <div class="col-sm-4">
      <h5><span class="badge badge-secondary">Hospitals where I work(ed)</span></h5>
    </div>
    <div class="col-sm-4">
     </div>
    <div class="col-sm-4"></div>
    </div>
  <div class="row">
    <div class="col-sm-8">
    <select [(ngModel)]="currentHospital"
          name="select3"
          class="form-control">
    <option *ngFor="let oop of OptionActiveHospitals" [value]=oop.value>{{ oop.description }}</option>
  </select>
    </div>
  
    <div class="col-sm-4">
    <div class="row">
    <div class="col-sm-6"><button type="button" class="badge badge-info" (click)="changeCurrentHospital()">Save & show</button></div>
    <div class="col-sm-6"><button type="button" class="badge badge-danger" (click)="removeCurrentHospital()">Delete</button></div>
  </div>
    </div>
  </div>
  
  
    <div class="row">
      <div class="col-sm-4"><h5><span class="badge badge-secondary">Country</span></h5></div>
      <div class="col-sm-4"><h5><span class="badge badge-secondary">Hospital</span></h5></div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <select [(ngModel)]="selectedCountry"
                name="select1"
                (change)="changeCountry()"
                class="form-control">
          <option *ngFor="let oop of OptionCountries" [value]=oop.value>{{ oop.description }}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <select [(ngModel)]="selectedHospital"
                name="select25"
                class="form-control">
          <option *ngFor="let oop of OptionHospitals" [value]=oop.value>{{ oop.description }}</option>
        </select>
       
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6"><button type="button" class="badge badge-success" (click)="addToListOfHospitals()">Add</button></div>
          <div class="col-sm-6"></div>
        </div>
  
      </div>
  
    </div>
